{% extends 'base.html.twig' %}

{% block body %}
        
        <div class="container">
            <div class="pageTitle">
                <center>
                    <h2>Change Budget percent <a href="/showBudget">BACK</a></h2>
					<hr>
					<center><h2>Percentage points to dispose <div style="color:green;" id="pointsToDispose">	</div></h2></center>
					<hr>
                <center>    
            </div>
			<div class="row">
                {{ form_start(form) }}
				<div style="min-height:100px">						
					<div style="float: left;min-width:60px;">
						<center>
							<br>
							<button type="button" class="btn btn-success" onclick="changeValue('Plus', 'financeFreedom')">
								+
							</button>
						</center>
					</div>
					<div style="float: left;">
							{{ form_label(form.financeFreedom) }}<br/>
							{{ form_widget(form.financeFreedom) }} 
					</div>
					<div style="float: left;min-width:60px;">
						<center>
							<br>
							<button type="button" class="btn btn-success" onclick="changeValue('Minus', 'financeFreedom')">
								-
							</button> 
						</center>
					</div>						
					<div style="float: left;min-width:60px;">
						<center>
							<br>
							<button type="button" class="btn btn-success" onclick="changeValue('Plus', 'moneyBoxFreedom')">
								+
							</button>
						</center>
					</div>
					<div style="float: left;">
							{{ form_label(form.moneyBoxFreedom) }}<br/>
							{{ form_widget(form.moneyBoxFreedom) }} 
					</div>
					<div style="float: left;min-width:60px;">
						<center>
							<br/> 
							<button type="button" class="btn btn-success" onclick="changeValue('Minus', 'moneyBoxFreedom')">
								-
							</button> 
						</center>
					</div>
				</div>
				<div style="min-height:100px">
					<div style="float: left;min-width:60px;">
						<center>
							<br/> 
							<button type="button" class="btn btn-success" onclick="changeValue('Plus', 'currentExpensesTransport')">
								+
							</button>
						</center>
					</div>
					<div style="float: left;">
						<div style="min-height: 48px">
							{{ form_label(form.currentExpensesTransport) }}<br/>
							{{ form_widget(form.currentExpensesTransport) }}
						</div>
					</div><div style="float: left;min-width:60px;">
						<center>
							<br/> 
							<button type="button" class="btn btn-success" onclick="changeValue('Minus', 'currentExpensesTransport')">
								-
							</button> 
						</center>
					</div>
					<div style="float: left;min-width:60px;">
						<center>
							<br/> 
							<button type="button" class="btn btn-success" onclick="changeValue('Plus', 'currentExpensesFood')">
								+
							</button> 
						</center>
					</div>
					<div style="float: left;">
						{{ form_label(form.currentExpensesFood) }}<br/>
						{{ form_widget(form.currentExpensesFood) }}
					</div>
					<div style="float: left;min-width:60px;">
						<center>
							<br/> 
							<button type="button" class="btn btn-success" onclick="changeValue('Minus', 'currentExpensesFood')">
								-
							</button> 
						</center>
					</div>
				</div>
				<div style="min-height:100px">
					<div style="float: left;min-width:60px;">
						<center>
							<br/> 
							<button type="button" class="btn btn-success" onclick="changeValue('Plus', 'currentExpensesHome')">
								+
							</button>
						</center>
					</div>
					<div style="float: left;">
						<div style="min-height: 48px">
							{{ form_label(form.currentExpensesHome) }}<br/>
							{{ form_widget(form.currentExpensesHome) }}
						</div>
					</div>
					<div style="float: left;min-width:60px;">
						<center>
							<br/> 
							<button type="button" class="btn btn-success" onclick="changeValue('Minus', 'currentExpensesHome')">
								-
							</button> 
						</center>
					</div>
					<div style="float: left;min-width:60px;">
						<center>
							<br/> 
							<button type="button" class="btn btn-success" onclick="changeValue('Plus', 'longTermForFutureExpenses')">
								+
							</button> 
						</center>
					</div>
					<div style="float: left;">
						{{ form_label(form.longTermForFutureExpenses) }}<br/>
						{{ form_widget(form.longTermForFutureExpenses) }}
					</div>
					<div style="float: left;min-width:60px;">
						<center>
							<br/> 
							<button type="button" class="btn btn-success" onclick="changeValue('Minus', 'longTermForFutureExpenses')">
								-
							</button> 
						</center>
					</div>
				</div>
				<div style="min-height:100px">
					<div style="float: left;min-width:60px;">
						<center>
							<br/> 
							<button type="button" class="btn btn-success" onclick="changeValue('Plus', 'pleasureAccount')">
								+
							</button>
						</center>
					</div>
					<div style="float: left;">
						<div style="min-height: 48px">
							{{ form_label(form.pleasureAccount) }}<br/>
							{{ form_widget(form.pleasureAccount) }}
						</div>
					</div>
					<div style="float: left;min-width:60px;">
						<center>
							<br/> 
							<button type="button" class="btn btn-success" onclick="changeValue('Minus', 'pleasureAccount')">
								-
							</button> 
						</center>
					</div>
					<div style="float: left;min-width:60px;">
						<center>
							<br/> 
							<button type="button" class="btn btn-success" onclick="changeValue('Plus', 'educationAccount')">
								+
							</button>
						</center>
					</div>	
					<div style="float: left;">
						<div style="min-height: 48px">
							{{ form_label(form.educationAccount) }}<br/>
							{{ form_widget(form.educationAccount) }}
						</div>
					</div>
					<div style="float: left;min-width:60px;">
						<center>
							<br/> 
							<button type="button" class="btn btn-success" onclick="changeValue('Minus', 'educationAccount')">
								-
							</button> 
						</center>
					</div>	
				</div>
					<div style="float: left;min-width:60px;">
						<center>
							<br/> 
							<button type="button" class="btn btn-success" onclick="changeValue('Plus', 'helpOthersAccount')">
								+
							</button>
						</center>
					</div>
				<div style="min-height:100px">
					<div style="float: left;">
						<div style="min-height: 48px">
							{{ form_label(form.helpOthersAccount) }}<br/>
							{{ form_widget(form.helpOthersAccount) }}
						</div>
					</div>
					<div style="float: left;min-width:60px;">
						<center>
							<br/> 
							<button type="button" class="btn btn-success" onclick="changeValue('Minus', 'helpOthersAccount')">
								-
							</button> 
						</center>
					</div>
				</div>
				<div style="min-height:100px">
					<div style="float: left;">
						<div style="min-height: 48px">
							{{ form_label(form.month) }}<br/>
							{{ form_widget(form.month) }}
						</div>
					</div>
					<div style="float: left;min-width:60px;">
						
					</div>	
					<div style="float: left;">
						<div style="min-height: 48px">
							{{ form_label(form.year) }}<br/>
							{{ form_widget(form.year) }}        
						</div>
					</div>

					<div class="col-xs-1 col-md-2">
					<br>
						<button type="submit" class="btn btn-primary">
							Change Budget percent : <span class="glyphicon glyphicon-floppy-open"></span>
						</button>
					</div>
				</div>
			</div>
			<div>
				<br/><br/>
			</div>
			{{ form_end(form) }}           
            </div>           
        </div>
		

	
<script src="{{ asset('js/changeBudgetPercent.js') }}"></script>
{% endblock %}



