{% extends 'base.html.twig' %}

{% block body %}
        
	<div class="container">
		<div class="pageTitle">
			<center>
				<h2>Add Budget percent <a href="/showBudget">BACK</a></h2>
				<hr>
				<center>
					<h2>
						Percentage points to dispose 
						<div style="color:green;" id="pointsToDispose">	
						</div>
					</h2>
				</center>
				<hr>
			<center>    
		</div>
		<div class="row">
			{{ form_start(form) }}
				<div style="min-height:100px">						
					<div style="float: left;min-width:60px;">
						<center>
							<br>
							<button type="button" class="btn btn-success" onclick="changeValue('Plus', 'financeFreedom')">
								+
							</button>
						</center>
					</div>
					<div style="float: left;">
							{{ form_label(form.xfinanceFreedom) }}<br/>
							{{ form_widget(form.xfinanceFreedom) }} 
					</div>
					<div style="float: left;min-width:60px;">
						<center>
							<br>
							<button type="button" class="btn btn-success" onclick="changeValue('Minus', 'financeFreedom')">
								-
							</button> 
						</center>
					</div>						
					<div style="float: left;min-width:60px;">
						<center>
							<br>
							<button type="button" class="btn btn-success" onclick="changeValue('Plus', 'moneyBoxFreedom')">
								+
							</button>
						</center>
					</div>
					<div style="float: left;">
							{{ form_label(form.xmoneyBoxFreedom) }}<br/>
							{{ form_widget(form.xmoneyBoxFreedom) }} 
					</div>
					<div style="float: left;min-width:60px;">
						<center>
							<br/> 
							<button type="button" class="btn btn-success" onclick="changeValue('Minus', 'moneyBoxFreedom')">
								-
							</button> 
						</center>
					</div>
				</div>
				<div style="min-height:100px">
					<div style="float: left;min-width:60px;">
						<center>
							<br/> 
							<button type="button" class="btn btn-success" onclick="changeValue('Plus', 'currentExpensesTransport')">
								+
							</button>
						</center>
					</div>
					<div style="float: left;">
						<div style="min-height: 48px">
							{{ form_label(form.xcurrentExpensesTransport) }}<br/>
							{{ form_widget(form.xcurrentExpensesTransport) }}
						</div>
					</div><div style="float: left;min-width:60px;">
						<center>
							<br/> 
							<button type="button" class="btn btn-success" onclick="changeValue('Minus', 'currentExpensesTransport')">
								-
							</button> 
						</center>
					</div>
					<div style="float: left;min-width:60px;">
						<center>
							<br/> 
							<button type="button" class="btn btn-success" onclick="changeValue('Plus', 'currentExpensesFood')">
								+
							</button> 
						</center>
					</div>
					<div style="float: left;">
						{{ form_label(form.xcurrentExpensesFood) }}<br/>
						{{ form_widget(form.xcurrentExpensesFood) }}
					</div>
					<div style="float: left;min-width:60px;">
						<center>
							<br/> 
							<button type="button" class="btn btn-success" onclick="changeValue('Minus', 'currentExpensesFood')">
								-
							</button> 
						</center>
					</div>
				</div>
				<div style="min-height:100px">
					<div style="float: left;min-width:60px;">
						<center>
							<br/> 
							<button type="button" class="btn btn-success" onclick="changeValue('Plus', 'currentExpensesHome')">
								+
							</button>
						</center>
					</div>
					<div style="float: left;">
						<div style="min-height: 48px">
							{{ form_label(form.xcurrentExpensesHome) }}<br/>
							{{ form_widget(form.xcurrentExpensesHome) }}
						</div>
					</div>
					<div style="float: left;min-width:60px;">
						<center>
							<br/> 
							<button type="button" class="btn btn-success" onclick="changeValue('Minus', 'currentExpensesHome')">
								-
							</button> 
						</center>
					</div>
					<div style="float: left;min-width:60px;">
						<center>
							<br/> 
							<button type="button" class="btn btn-success" onclick="changeValue('Plus', 'longTermForFutureExpenses')">
								+
							</button> 
						</center>
					</div>
					<div style="float: left;">
						{{ form_label(form.xlongTermForFutureExpenses) }}<br/>
						{{ form_widget(form.xlongTermForFutureExpenses) }}
					</div>
					<div style="float: left;min-width:60px;">
						<center>
							<br/> 
							<button type="button" class="btn btn-success" onclick="changeValue('Minus', 'longTermForFutureExpenses')">
								-
							</button> 
						</center>
					</div>
				</div>
				<div style="min-height:100px">
					<div style="float: left;min-width:60px;">
						<center>
							<br/> 
							<button type="button" class="btn btn-success" onclick="changeValue('Plus', 'pleasureAccount')">
								+
							</button>
						</center>
					</div>
					<div style="float: left;">
						<div style="min-height: 48px">
							{{ form_label(form.xpleasureAccount) }}<br/>
							{{ form_widget(form.xpleasureAccount) }}
						</div>
					</div>
					<div style="float: left;min-width:60px;">
						<center>
							<br/> 
							<button type="button" class="btn btn-success" onclick="changeValue('Minus', 'pleasureAccount')">
								-
							</button> 
						</center>
					</div>
					<div style="float: left;min-width:60px;">
						<center>
							<br/> 
							<button type="button" class="btn btn-success" onclick="changeValue('Plus', 'educationAccount')">
								+
							</button>
						</center>
					</div>	
					<div style="float: left;">
						<div style="min-height: 48px">
							{{ form_label(form.xeducationAccount) }}<br/>
							{{ form_widget(form.xeducationAccount) }}
						</div>
					</div>
					<div style="float: left;min-width:60px;">
						<center>
							<br/> 
							<button type="button" class="btn btn-success" onclick="changeValue('Minus', 'educationAccount')">
								-
							</button> 
						</center>
					</div>	
				</div>
					<div style="float: left;min-width:60px;">
						<center>
							<br/> 
							<button type="button" class="btn btn-success" onclick="changeValue('Plus', 'helpOthersAccount')">
								+
							</button>
						</center>
					</div>
				<div style="min-height:100px">
					<div style="float: left;">
						<div style="min-height: 48px">
							{{ form_label(form.xhelpOthersAccount) }}<br/>
							{{ form_widget(form.xhelpOthersAccount) }}
						</div>
					</div>
					<div style="float: left;min-width:60px;">
						<center>
							<br/> 
							<button type="button" class="btn btn-success" onclick="changeValue('Minus', 'helpOthersAccount')">
								-
							</button> 
						</center>
					</div>
				</div>
				<div style="min-height:100px">
					<div style="float: left;">
						<div style="min-height: 48px">
							{{ form_label(form.month) }}<br/>
							{{ form_widget(form.month) }}
						</div>
					</div>
					<div style="float: left;min-width:60px;">
						
					</div>	
					<div style="float: left;">
						<div style="min-height: 48px">
							{{ form_label(form.year) }}<br/>
							{{ form_widget(form.year) }}        
						</div>
					</div>

					<div class="col-xs-1 col-md-2">
					<br>
						<button type="submit" class="btn btn-primary">
							Add Budget percent : <span class="glyphicon glyphicon-floppy-open"></span>
						</button>
					</div>
				</div>
			</div>
			<div>
				<br/><br/>
			</div>
			{{ form_end(form) }}                
		</div>           
	</div>
		

	
<script src="{{ asset('js/addBudgetPercent.js') }}"></script>
{% endblock %}



